<div class="sidebar">
  <div class='panel-white reg-sidebar easytabs'>
    <!-- white-panel-tabs-buttons -->
    <div class="panel-white-tabs-buttons">
      <div class="tab-btn btn-1_2"><a href="#first-tab-panel" class="tab-btn-link">Клиентам</a></div>
      <div class="tab-btn btn-1_2"><a href="#second-tab-panel" class="tab-btn-link">Партнерам</a></div>
    </div>
    <!-- white-panel-tabs-buttons end -->
    <div class='panel-white-body'>
      <div id="first-tab-panel">
        <div class="desc-title">Зачем проходить <br>регистрацию на сайте?</div>
        <div class="desc-text">Сommodo consequat sint! Duis aute irure dolor in repre- henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec cupidatat non proident, sunt in culpa qui officia </div>
        <div class="desc-title">Какие возможности<br>есть с клубной картой?</div>
        <div class="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
        <div class="desc-title">Есть еще вопросы? </div>
        <div class="desc-text">Просто <a href="#">напишите нам</a> и мы более детально опишем суть работы сервиса</div>
      </div>
      <div id="second-tab-panel">
        <div class="desc-title">Что значит быть <br>партнером Едограда?</div>
        <div class="desc-text">Сommodo consequat sint! Duis aute irure dolor in repre- henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaec cupidatat non proident, sunt in culpa qui officia </div>
        <div class="desc-title">Какие возможности<br>это может принести?</div>
        <div class="desc-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</div>
        <div class="desc-title">Есть еще вопросы?</div>
        <div class="desc-text">Просто <a href="#">напишите нам</a> и мы более детально опишем суть работы сервиса</div>
      </div>
    </div>
  </div>
</div>
