<!-- partner-header -->
<div class="partner-header">
	<div class="container">
		<div class="row">
			<div class="col span_2_of_10">
				<div class="partner-logo-box">
					<img src="/public/rest-logo.jpg" alt="" class="partner-logo-image">
				</div>
			</div>
			<div class="col span_5_of_10">
				<h2 class="partner-header-title">Neo – ресторан с интерактивными столами</h2>
				<div class="partner-header-kitchen-bar">Кухня: Пицца / Бургеры / Французская / Итальянская / Испанская</div>
				<div class="partner-header-nav-bar">
					<a href="#" class="partner-header-nav-bar-item active">Меню</a>
					<a href="#" class="partner-header-nav-bar-item">Акции</a>
					<a href="#" class="partner-header-nav-bar-item">Отзывы</a>
					<a href="#" class="partner-header-nav-bar-item">О заведении</a>
				</div>
			</div>
			<div class="col span_3_of_10">

				<div class="partner-header-rating">
					<span class="rating-title">Рейтинг:</span>
					<span class="rating-stars">*****</span>
					<span class="rating-count">54 оценки</span>
				</div>

				<div class="partner-header-features">
					<div class="row">
						<div class="col span_1_of_3">
							<img src="/img/icons/invoice.png" alt="" class="feauture-image">
							<div class="feature-title">Мин. заказ:</div>
							<div class="feature-value">500 P</div>
						</div>
						<div class="col span_1_of_3">
							<img src="/img/icons/ship_cost.png" alt="" class="feauture-image">
							<div class="feature-title">Доставка:</div>
							<div class="feature-value">Бесплатно</div>
						</div>
						<div class="col span_1_of_3">
							<img src="/img/icons/ship_time.png" alt="" class="feauture-image">
							<div class="feature-title">Время доставки:</div>
							<div class="feature-value">До 40 минут</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>
<!-- partner-header ned -->
