<div class='panel-white main-sidebar easytabs'>
  <!-- white-panel-tabs-buttons -->
  <div class="panel-white-tabs-buttons">
    <div class="tab-btn btn-1_2"><a href="#first-tab-panel" class="tab-btn-link">Рестораны</a></div>
    <div class="tab-btn btn-1_2"><a href="#second-tab-panel" class="tab-btn-link">Магазины</a></div>
  </div>
  <!-- white-panel-tabs-buttons end -->
  <div class='panel-white-body'>
    <div id="first-tab-panel">
      <!-- filter-panel -->
      <div class="filter-panel-header">
        <div class="filter-panel-title">Кухня:</div>
        <div class="filter-panel-reset">
          <span class="reset-btn">Сбросить</span>
        </div>
      </div>
      <ul class="filter-panel">
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Фаст фуд</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Японская кухня</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Кавказская кухня</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Осетинская кухня</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Осетинская кухня</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Осетинская кухня</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Осетинская кухня</label>
        </li>
      </ul>
      <!-- filter-panel end -->
      <hr>
      <!-- filter-panel -->
      <div class="filter-panel-header">
        <div class="filter-panel-title">Возможности:</div>
        <div class="filter-panel-reset">
          <span class="reset-btn">Сбросить</span>
        </div>
      </div>
      <ul class="filter-panel">
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Оплата картой онлайн</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Готовая кухня на вынос</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">C бесплатной доставкой</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">Новые заведения</label>
        </li>
        <li class="filter-panel-item">
          <input type="checkbox" class="filter-panel-checkbox">
          <label class="filter-panel-label">С акциями</label>
        </li>
      </ul>
      <!-- filter-panel end -->
      <div class="filter-panel-footer">
        <a href="#" class="look_all-link">Смотреть все</a>
        <div class="count-info">Всего заведений – 54</div>
      </div>
    </div>
    <div id="second-tab-panel">
      <!-- category-nav -->
      <ul class="category-nav">
...
      </ul>
      <!-- category-nav end -->
    </div>
  </div>
</div>
