<!-- offer-item -->
<div class="col span_3_of_9">
  <div class="offer-item">
    <a href="#" class="offer-link"><img src="/public/offer.png" alt="" class="offer-image"></a>
    <a href="#" class="offer-link offer-title">К каждому заказу мини-пицца в подарок!</a>
    <div class="offer-item-partner">
      Ресторан: «<a href="#" class="offer-item-partner-link">Не горюй</a>»
    </div>
    <div class="offer-item-divider">|</div>
    <div class="offer-item-date">
      Акция до 21.05.17
    </div>
  </div>
</div>
<!-- offer-item end -->
