<!-- main-slider-item -->
<div class="main-slider-item" style="background-image: url(/public/main-slide-01.jpg);">
  <div class="container">
    <div class="row">
      <div class="col span_4_of_10">
        <!-- slider-offer-box -->
        <div class="slider-offer-box">
          <img src="/img/icons/burger-offer.png" alt="" class="slider-offer-icon">
          <h1 class="slider-offer-title">Более 100 видов <br> бургеров на любой вкус!</h1>
          <p class="slider-offer-text">Самый большой выбор в нашем городе</p>
          <a href="#" class="btn btn-primary offer-btn">Смотреть</a>
        </div>
        <!-- slider-offer-box end -->
      </div>
    </div>
  </div>
</div>
<!-- main-slider-item end -->
