<!-- offer-item -->
<div class="full-offer-item">
  <!-- panel-white -->
  <div class="panel-white mb-30">
    <!-- panel-white-body -->
    <div class="panel-white-body">

      <div class="">
        <a href="#" class="offer-link full-width"><img src="/public/offer.png" alt="" class="offer-image"></a>
        <a href="#" class="offer-link offer-title">Неделя национальной осетинской кухни. Скидки на весь ассортимент пирогов!</a>
        <div class="offer-item-partner">
          Ресторан: «<a href="#" class="offer-item-partner-link">Не горюй</a>»
        </div>
        <div class="offer-item-divider">|</div>
        <div class="offer-item-date">
          Акция до 21.05.17
        </div>

        <div class="offer-item-product">
          <a href="#" class="offer-item-product-link offer-item-product-title">Кабускаджин</a>
    			<span class="offer-item-product-price">
    				– 
    				<span class="old-price">120р.</span>
    				<span class="new-price">180р.</span>
    			</span>
        </div>
        <div class="offer-item-product">
          <a href="#" class="offer-item-product-link offer-item-product-title">Картофджин</a>
    			<span class="offer-item-product-price">
    				– 
    				<span class="old-price">175р.</span>
    				<span class="new-price">150р.</span>
    			</span>
        </div>
        <div class="offer-item-product">
          <a href="#" class="offer-item-product-link offer-item-product-title">Картофджин</a>
    			<span class="offer-item-product-price">
    				– 
    				<span class="old-price">175р.</span>
    				<span class="new-price">150р.</span>
    			</span>
        </div>
        <div class="offer-item-product">
          <a href="#" class="offer-item-product-link offer-item-product-title">Картофджин</a>
    			<span class="offer-item-product-price">
    				– 
    				<span class="old-price">175р.</span>
    				<span class="new-price">150р.</span>
    			</span>
        </div>
        <div class="offer-item-product">
          <a href="#" class="offer-item-product-link offer-item-product-title">Картофджин</a>
    			<span class="offer-item-product-price">
    				– 
    				<span class="old-price">175р.</span>
    				<span class="new-price">150р.</span>
    			</span>
        </div>
      </div>

    </div>
    <!-- panel-white-body end -->
  </div>
  <!-- panel-white end -->
</div>
<!-- offer-item end -->
