<div class="partner-item">
	<div class="row">
		<div class="col span_2_of_8">
			<div class="partner-item-logo">
				<img src="/public/partner-logo.jpg" alt="" class="partner-item-logo-image">
			</div>
		</div>
		<div class="col span_4_of_8">

			<a href="#" class="partner-item-title">Sandwich Street</a>
			<div class="partner-item-kitchen-bar">Кухня: Пицца / Бургеры / Французская / Итальянская / Испанская</div>

			<!-- partner-header-features -->
			<div class="partner-item-features">
				<div class="row">
					<div class="col span_1_of_3">
						<img src="/img/icons/invoice_dark.png" alt="" class="feauture-image">
						<div class="feature-title">Мин. заказ:</div>
						<div class="feature-value">500 P</div>
					</div>
					<div class="col span_1_of_3">
						<img src="/img/icons/ship_cost_dark.png" alt="" class="feauture-image">
						<div class="feature-title">Доставка:</div>
						<div class="feature-value">Бесплатно</div>
					</div>
					<div class="col span_1_of_3">
						<img src="/img/icons/ship_time_dark.png" alt="" class="feauture-image">
						<div class="feature-title">Время доставки:</div>
						<div class="feature-value">До 40 минут</div>
					</div>
				</div>
			</div>
			<!-- partner-header-features end -->

		</div>
		<div class="col span_2_of_8">
			<div class="partner-item-rating">
				<span class="rating-title">Рейтинг:</span>
				<span class="rating-stars">*****</span>
				<span class="rating-count">54 оценки</span>
			</div>
		</div>
	</div>
</div>
