
					<!-- product-item -->
					<div class="col-md-3 col-sm-12 ">
						<div class="product-item">
							<!-- product-item-preview -->
							<div class="product-item-preview">
								<a href="#" class="icon-btn-addtocart"></a>
								<a href="#" class="product-link"><img src="https://goo.gl/mfndaF" alt="" class="product-image"></a>
								<a href="#" class="product-link product-title">Пицца Джульета</a>
								<span class="product-price">
									– 
									<span class="old-price">120р.</span>
									<span class="new-price">110р.</span>
								</span>
							</div>
							<!-- product-item-preview end -->
							<!-- product-item-full-info -->
							<div class="product-item-full-info">
								<p class="product-description">Modi tempora incidunt ut labore et dolore magnam aliquam quaerat auru voluptatem dud estum matis tempora. </p>
								<div class="product-buttons">
									<input type="text" class="addtocart-count" value="1"\>
									<a href="#" class="btn btn-primary btn-addtocart">В корзину</a>
								</div>
							</div>
							<!-- product-item-footer end -->
						</div>
					</div>
					<!-- product-item end -->
