	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img src="/img/logo-light.png" alt="" class="logo">
					<p class="page-footer-text">Все вкусы города! Агрегатор служб доставки ресторанов и магазинов.<br>Все товары и услуги на этом сайте  реализуются третьей стороной!</p>
				</div>
				<div class="col-md-4">
					<!-- bottom-nav-bar -->
					<div class="bottom-nav-bar">
						<a href="#" class="bottom-nav-item">О сервисе</a>
						/
						<a href="#" class="bottom-nav-item">Партнерам</a>
						/
						<a href="#" class="bottom-nav-item">Контакты</a>
					</div>
					<!-- bottom-nav-bar end -->
					<!-- additional-nav-bar -->
					<div class="additional-nav-bar">
						<a href="#" class="additional-nav-item">Рестораны</a>
						<a href="#" class="additional-nav-item">Магазины</a>
						<a href="#" class="additional-nav-item">Все меню</a>
						<a href="#" class="additional-nav-item">На карте</a>
						<a href="#" class="additional-nav-item">Акции</a>
						<a href="#" class="additional-nav-item">Доставка и оплата</a>
					</div>
					<!-- additional-nav-bar end -->
				</div>
				<div class="col-md-5 page-footer-description">
					<h5 class="page-footer-title">Самый быстрый и самый удобный</h5>
					<p class="page-footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
			</div>
		</div>

	</footer>

	<script src="js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.easytabs/3.2.0/jquery.easytabs.min.js"></script>
	<script>
		$(".main-sidebar").easytabs({
		  animate: true,
		  animationSpeed: 100,
		  defaultTab: ".tab-btn:first-child",
		  panelActiveClass: "active-panel",
		  tabActiveClass: "active",
		  tabs: ".tab-btn",
		  updateHash: false
		});
	</script>
</body>
</html>
