<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edograd</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">

</head>
<body>
  <!-- main-header -->
	<header class="main-header">
		<div class="container">
			<div class="row">
				<div class="col span_2_of_10">
					<a href="#" class="logo"><img src="/img/logo.png" alt=""></a>
				</div>
				<div class="col span_8_of_10">
          <div class="row">

            <div class="col span_3_of_12">
              <!-- search-form -->
              <form class="search-form" action="index.html" method="post">
                <input type="text" class="search-input-field" placeholder="Поиск по сайту">
              </form>
              <!-- search-from end -->
            </div>
            <div class="col span_9_of_12">
              <!-- auth-bar -->
              <div class="auth-bar">
                <a href="#" class="sign-in auth-bar-item">Вход</a>
                /
                <a href="#" class="sign-up auth-bar-item">Регистрация</a>
              </div>
              <!-- auth-bar end -->

              <!-- region-selector -->
              <div class="city-selector">
                <a href="#" class="current-city-item">
                  <span class="current-city-name">Владикавказ</span>
                </a>
              </div>
              <!-- region-selector end -->

              <!-- top-nav-bar -->
              <div class="top-nav-bar">
                <a href="#" class="top-nav-item">О сервисе</a>
                /
                <a href="#" class="top-nav-item">Партнерам</a>
                /
                <a href="#" class="top-nav-item">Контакты</a>
              </div>
              <!-- top-nav-bar end -->

            </div>
            <div class="col span_10_of_10 m-0">

              <!-- cart-bar -->
              <div class="cart-bar">
                <a href="#" class="cart-bar-link">Заказов в корзине: 15</a>
              </div>
              <!-- cart-bar end -->

              <!-- main-nav-bar -->
              <div class="main-nav-bar">
                <a href="#" class="main-nav-item">Все заведения</a>
                <a href="#" class="main-nav-item">На карте</a>
                <a href="#" class="main-nav-item">Все меню</a>
                <a href="#" class="main-nav-item">Акции и скидки</a>
                <a href="#" class="main-nav-item">Доставка и оплата</a>
              </div>
              <!-- main-nav-bar end -->
            </div>

          </div>

				</div>
			</div>
		</div>
	</header>
  <!-- main-header end -->
