// ** Variables **
$image_path: '/img/';

// ** Third Party **
@import "../../bower_components/normalize.css/normalize";
@import "./grid/col";
@import "./grid/2cols";
@import "./grid/3cols";
@import "./grid/4cols";
@import "./grid/5cols";
@import "./grid/6cols";
@import "./grid/7cols";
@import "./grid/8cols";
@import "./grid/9cols";
@import "./grid/10cols";
@import "./grid/11cols";
@import "./grid/12cols";
@import "./libs/slick";
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
	font-family: 'PT Sans', sans-serif;
	background: #f6f6f6;
}

a {
	color: #000;
	text-decoration: underline;
	transition: all 0.2s ease 0s;
	&:hover {
		color: #dc3f31;
	}
}

// ********************************** Site header

.main-header {
	font-size: 1.2em;
	background: #fff;
	box-shadow: 0 0 27px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 9;
	margin-bottom: 55px;

	.logo {
		display: block;
		position: relative;
		padding: 17px 0 18px;
	}

	.search-form {
		padding-top: 31px;
		display: block;
		.search-input-field {
			padding: 12px 26px;
			border: 2px solid #656565;
			outline: none;
			font-style: italic;
			width: 100%;
		}
	}

	.city-selector {
		float: left;
		display: inline-block;
		padding-top: 35px;

		.current-city-item {
			display: inline-block;
			padding: 10px 10px 10px 44px;
			font-style: italic;
			text-decoration: none;
			.current-city-name {
				border-bottom: 1px dashed #000;
			}
		}
	} // city-selector
	.top-nav-bar {
		padding: 34px 232px 0 144px;
		font-size: 1.1em;
		color: #dc3f31;
		text-align: center;
		.top-nav-item {
			display: inline-block;
			padding: 10px 2px;
			font-style: italic;
		}
	} // top-nav-bar
	.auth-bar {
		float: right;
		padding-top: 33px;
    font-size: 1.1em;
		text-align: right;
		color: #dc3f31;
		.auth-bar-item {
			display: inline-block;
			padding: 10px 5px;
			font-style: italic;
		}
	} // auth-bar

	.main-nav-bar {
		font-weight: bold;
		.main-nav-item {
			display: inline-block;
			padding: 24px;
			font-size: 1.1em;
			&:first-child {
				padding-left: 0;
			}
		}
	} // main-nav-bar
	.cart-bar {
		float: right;
		font-weight: bold;
		padding: 22px 0;
	}
} // main-header

// *********************************** Main slider
.main-slider-box {
	margin: -55px 0 50px;
	position: relative;

	.main-slider-navigation {
		position: absolute;
		width: 100%;
		bottom: 53px;
		z-index: 2;
		text-align: center;
		.col {
			position: relative;
		}
		.main-slider-arrows {
			width: 100%;
			.slick-arrow {
				width: 25px;
				height: 40px;
				text-indent: -999999px;
				background: transparent;
				border: 0;
				outline: none;
				background-image: url('#{$image_path}icons/main-slider-arr.png');
				background-repeat: no-repeat;
		    background-position: center center;
				left: 50%;
				position: absolute;
				margin-left: -25%;
    		bottom: -10px;
				padding: 10px;
		    box-sizing: content-box;
				&.slick-next {
					transform: rotate(180deg);
					margin-left: 16%;
				}
			} // slick-arrow
		} // main-slider-arrows
		.main-slider-dots {
			margin-bottom: 5px;
			.slick-dots {
				list-style-type: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					padding: 0;
					margin: 0 7px;
					button {
						display: block;
						padding: 0;
						width: 16px;
						height: 16px;
						border: 3px solid #fff;
						background: transparent;
						outline: none;
						text-indent: -999999px;
					} // button
					&.slick-active {
						button {
							background: #fff;
						}
					} // li active
				} // li
			} // slick-dots
		} // main-slider_dots
	} // main-slider-navigation

	.main-slider {
		position: relative;
		z-index: 1;

		.main-slider-item {
			height: 500px;
			outline: none;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.slider-offer-box {
			text-align: center;
			border: 3px solid #fff;
			margin: 46px 0;
			padding: 37px 30px 33px;
			color: #fff;
			.slider-offer-icon {
		    display: inline-block;
				max-height: 55px;
			}
			.slider-offer-title {
				font-size: 2.4em;
		    font-weight: bold;
		    margin: 11px 0px;
		    letter-spacing: 0.04em;
		    line-height: 1.3em;
			}
			.slider-offer-text {
				font-size: 1.2em;
				font-weight: bold;
				letter-spacing: 0.06em;
		    margin: 11px 0 18px;
			}
			.offer-btn {
				font-size: 1.2em;
		    letter-spacing: 0.04em;
		    padding: 6px 25px;
			}
		} // slider-offer-box
	} // main-slider
} // main-slider-box


// *********************************** Partners grid

.partners-grid {

	.partner-item {
		height: 180px;
		margin-bottom: 50px;
		background: #fff;
		text-align: left;

		.partner-item-logo {
			width: 100%;
			text-align: center;
			display: block;
			.partner-item-logo-image {
				max-height: 180px;
			}
		}

		.partner-item-title {
		    font-size: 1.28em;
		    font-weight: bold;
		    margin: 23px 0 0;
		    display: inline-block;
		}

		.partner-item-kitchen-bar {
			font-size: 1.11em;
			margin: 1px 0;
			font-style: italic;
		}

		.partner-item-features {
			margin: 14px 25% 0 0;

			.feauture-image {
				height: 27px;
				margin-bottom: 9px;
			}
			.feature-title {
				font-size: 0.9em;
				margin-bottom: 3px;
			}
			.feature-value {
				font-size: 1.2em;
				letter-spacing: 0.08em;
				font-weight: bold;
			}
			.feature-title {
				font-size: 0.9em;
			}
			.feature-value {
				font-size: 1em;
				font-weight: bold;
			}
		} // partner-item-features
		.partner-item-rating {
			margin-top: 48px;
			font-style: italic;
			.rating-title {
				display: block;
				font-size: 1.2em;
			}
			.rating-stars {
				display: block;
			}
			.rating-count {
				font-size: 1em;
			}
		} // partner-header-rating

	} // partner-item
} // partners-grid

// *********************************** Partner page

.partner-header {
	background: #2b5d95;
	color: #fff;
	margin-top: -55px;
	margin-bottom: 50px;

	.partner-logo-box {
		padding: 12px 0 6px;
		margin-bottom: 22px;
		width: 100%;
		text-align: center;
		background: #fff;
	}
	.partner-header-title {
		font-size: 1.72em;
    margin: 47px 0 21px;
		font-weight: bold;
	}
	.partner-header-kitchen-bar {
		font-size: 1.11em;
		margin: 21px 0;
		font-style: italic;
	}
	.partner-header-nav-bar {
		font-size: 1.2em;
		margin: 22px 0 24px;

		.partner-header-nav-bar-item {
			color: #fff;
			padding: 24px;
			&.active {
				text-decoration: none;
				font-weight: bold;
			}
			&:first-child {
				padding-left: 0;
			}
		} // partner-header-nav-bar-item

	} // partner-header-nav-bar

	.partner-header-rating {
		margin-top: 48px;
		font-style: italic;
		.rating-title {
			font-size: 1.2em;
		}
		.rating-stars {

		}
		.rating-count {
			font-size: 0.9em;
		}
	} // partner-header-rating
	.partner-header-features {
		margin-top: 25px;

		.feauture-image {
			height: 27px;
			margin-bottom: 9px;
		}
		.feature-title {
			font-size: 0.9em;
			margin-bottom: 3px;
		}
		.feature-value {
			font-size: 1em;
			letter-spacing: 0.08em;
			font-weight: bold;
		}

		.feature-title {
			font-size: 0.9em;
		}
		.feature-value {
			font-size: 1em;
			font-weight: bold;
		}

	} // partner-header-features

} // partner-header


// ******************************* Products

.product-grid {

	.partner-title {
		position: relative;
		// margin-top: -5px;
		margin-bottom: 15px;
		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 14px;
			right: 0;
			height: 1px;
			background: #da3f31;
		}

		.partner-title-link {
			font-size: 1.46em;
			font-weight: bold;
			background: #f6f6f6;
			padding-right: 27px;
	    position: relative;
		}
	}

	.col:nth-child(4n+1) {
		margin-left: 0;
	}

	.product-item {
		position: relative;
		min-height: 252px;
		z-index: 1;
		transition: all 0.5s ease 0s;

		.icon-btn-addtocart {
			display: none;
			position: absolute;
			// тут картинка корзины будет
		}
		.product-imgae-link {
			display: block;
			.product-image {
				width: 100%;
				margin-bottom: 9px;
			}
		} // product-imge-link
		.product-link {
			display: inline-block;
			font-size: 1.2em;
		} // product-link
		.product-price {
			font-weight: bold;
			text-decoration: none;
			.old-price {
				text-decoration: line-through;
			}
			.new-price {
				color: #dc3f31;
			}
		} // product-price
		.product-item-preview {
			position: relative;
			z-index: 2;
		}
		.product-item-full-info {
			display: none;
			z-index: 1;
			position: absolute;
			top: -22px;
	    left: -15px;
	    right: -15px;
	    padding: 91% 15px 22px;
			background-color: #fff;
			box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);

			.product-description {
				font-size: 1em;
		    margin: 3px 0 13px;
		    line-height: 1.2em;
			}
			.product-buttons {
				.addtocart-count {
					width: 44%;
			    padding: 7px 23px;
			    text-align: center;
			    outline: none;
			    border: 2px solid #474747;
				}
				.btn-addtocart {
					float: right;
				}
			} // product-buttons
		} // full-info
		&:hover {
			z-index: 2;
			.product-item-full-info {
				display: block;
			}
		} // product-item:hover

	} // product-item
} // product-grid


// ************************************* Lunches

.lunch-grid {

	.lunch-item {
		background: #fff;
		margin-bottom: 30px;
		height: 300px;

		.lunch-item-title {
			font-size: 1.7em;
			padding: 21px 33px 0;

		}
		.lunch-item-partner {
  	  font-size: 1.15em;
			padding: 0 33px 14px;
		}
		.lunch-item-content {
			margin: 0 0 0 33px;
			height: 188px;
			overflow: hidden;
		}
		.lunch-item-image-box {
			text-align: center;
			height: 300px;
			overflow: hidden;
			.lunch-item-image {
				width: 100%;
			}
		} // lunch-item-image-box
		.lunch-item-price-box {
			margin-top: 25px;
			.lunch-item-price-title {
				font-size: 0.9em;
				    font-style: italic;
				    letter-spacing: 0.05em;
			}
			.lunch-item-price {
				font-size: 1.3em;
				font-weight: bold;
			}
		} // lunch-item-price-box
		.lunch-item-delivery-box {
			margin-top: 25px;
			.lunch-item-delivery-title {
				font-size: 0.9em;
				    font-style: italic;
				    letter-spacing: 0.05em;
			}
			.lunch-item-delivery {
				font-size: 1em;
				font-weight: bold;
			}
		} // lunch-item-delivery-box
		.lunch-buttons {
			margin-top: 46px;
			.lunch-buttons-title {
				font-style: italic;
				font-size: 0.8em;
				margin-bottom: 6px;
			}
			.addtocart-count {
				width: 100%;
				padding: 7px 23px;
				margin-bottom: 10px;
				text-align: center;
				outline: none;
				border: 1px solid #474747;
			}
			.btn-addtocart {
				width: 100%;
			}
		} // product-buttons
	} // lunch-item
} // lunch-grid

// ************************************ Category grid

.category-grid {

	.category-item {
		position: relative;
		min-height: 252px;
		z-index: 1;
		transition: all 0.5s ease 0s;
		.category-image {
			max-width: 100%;
			margin-bottom: 9px;
		}
		.category-link {
			display: inline-block;
			font-size: 1.2em;
			outline: none;
		} // product-link
		.category-item-preview {
			position: relative;
			z-index: 2;
		}
	} // product-item
}

// ************************************* Main offers

.main-offers {
	background-color: #c34034;
	background-image: url('#{$image_path}bg/panel-bg-001.jpg');
	background-position: center center;
	color: #fff;
	padding: 69px 0 45px;
  margin: -6px 0 50px;

	.main-offers-title {
		font-size: 2.2em;
    margin: -9px 0 29px;
	}
	.offers-nav {
		.offers-nav-item {
			display: block;
	    color: #fff;
	    font-weight: bold;
	    margin: 0 0 22px;
	    font-size: 1.33em;
		} // main-offers-nav-item

	} // main-offers-nav
} // main-offers

.offers-grid {
	.offer-item {
		position: relative;
		min-height: 252px;
		z-index: 1;
		transition: all 0.5s ease 0s;
		.offer-image {
			max-width: 100%;
			margin-bottom: 6px;
		}
		.offer-link {
			display: inline-block;
			font-size: 1.15em;
			color: #fff;
			margin-bottom: 3px;
		} // product-link
		.offer-item-partner {
			display: inline-block;
			.offer-item-partner-link {
				color: #fff;
			}
		}
		.offer-item-divider {
			display: inline-block;
			margin: 0 18px;
		}
		.offer-item-date {
			display: inline-block;
		}
	} // product-item
}


// ************************************* Main-sidebar
.main-sidebar {
	margin-bottom: 70px;
	.category-nav {
		margin: 21px 12px;
		padding: 0;
		list-style-type: none;
		.category-nav-item {
			position: relative;
			&:before {
				position: absolute;
				content: '';
				width: 2px;
				height: 1em;
				left: -0.66em;
		    top: 0.3em;
				background: #db3f31;
			}
			padding: 0;
			margin: 0 0 25px;;
			.category-nav-link {
				font-size: 1.2em;
			}
			.category-nav-item-count {
				// font-size: 0.8em;
			}
			.sub-category-nav {
				display: none;
			}
			&.active {
				color: #db3f31;
				.category-nav-link {
					color: #db3f31;
					text-decoration: none;
				}
				.sub-category-nav {
					display: block;
					margin: 12px 0 0;
					padding: 0;
					list-style-type: none;
					.sub-category-nav-item {
						padding: 8px 0;
						margin: 0;
						.sub-category-nav-link {
							font-size: 1em;
						} // category-nav-link
					} // category-nav-item
				} // sub-category-nav
			} // category-nav-item.active

		} // category-nav-item
	} // category-nav

	.filter-panel-header {
    margin-top: 13px;
		overflow: hidden;
		.filter-panel-title {
			width: 50%;
			text-align: center;
			float: left;
	    font-size: 1.2em;
		}
		.filter-panel-reset {
			width: 50%;
			text-align: center;
			float: left;
			.reset-btn {
				margin-top: 2px;
				cursor: pointer;
				border-bottom: 1px dashed #777;
		    font-size: 0.87em;
				color: #777;
			}
		} // filter-panel-reset
	} // filter-panel-header
	.filter-panel {
		list-style-type: none;
		margin: 7px 3px 0;
		padding: 0;
		.filter-panel-item {
			margin: 0;
			padding: 0;
			.filter-panel-checkbox {
				margin-right: 2px;
			}
			.filter-panel-label {
				font-style: italic;
		    font-size: 1.09em;
		    margin: 0 0 15px;
			}
		} // filter-panel-item
	} // filter-panel
	.filter-panel-footer {
		margin: 14px 0 14px 20px;
		.look_all-link {
			font-weight: bold;
			font-size: 1.2em;
		}
		.count-info {
			font-size: 1.14em;
		}
	} // filter-panel-footer
}




.dark-box {
	color: #fff;
	a {
		color: #fff;
	}
	.btn {border-color: #fff; }
}

// ************************************* Bg panels

.bg-offset {
	margin-top: 420px;
}
.cart-bg-panel {
	position: absolute;
	top: 160px;
	width: 100%;
	height: 420px;
	background: url('#{$image_path}bg/panel-bg-002.jpg') 0 0 no-repeat;
	background-size: cover;
	z-index: -1;
}
.order-bg-panel {
	position: absolute;
	top: 160px;
	width: 100%;
	height: 420px;
	background: url('#{$image_path}bg/panel-bg-003.jpg') 0 0 no-repeat;
	background-size: cover;
	z-index: -1;
}
.profile-bg-panel {
	position: absolute;
	top: 160px;
	width: 100%;
	height: 420px;
	background: url('#{$image_path}bg/panel-bg-004.jpg') 0 0 no-repeat;
	background-size: cover;
	z-index: -1;
}

// ************************************* Order

.oder-form {
  margin-top: 8px;
}

// Forms
.form {
	.form-row {
		margin-bottom: 26px;
		.form-label {
			font-size: 1.3em;
	    margin-right: 8px;
	    margin-top: 10px;
		}
		.form-field {
			width: 100%;
	    padding: 6px 9px;
	    font-size: 1.3em;
			outline: none;
			border: 1px solid #000;
		}

	} // form-row
} // form


// ************************************* Sidebar

.sidebar {
	.sidebar-title {
		font-size: 2.1em;
    font-weight: bold;
    margin: -4px 0 32px;
    line-height: 1.2em;
	}
	.btn-caption {
		font-size: 1.2em;
		line-height: 1.1em;
	}
	.desc-title {
		color: #db3f31;
		margin: 82px 0 13px;
    font-size: 1.15em;
    line-height: 1.2em;
	}
	.desc-text {
		line-height: 1.22em;
    margin: 13px 0 40px;
	}
	.btn {
		width: 100%;
		font-size: 1.3em;
	}
	.btn-caption {
    margin: 15px 0 53px;
	}
	.sidebar-nav {
		margin-top: 67px;
		.sidebar-nav-item {
			font-size: 1.2em;
	    display: inline-block;
	    padding: 4px 9px 3px;
	    margin: 0 0 19px;
	    margin-left: -9px;
	    letter-spacing: 0.04em;
			&.active {
				background: #fff;
				color: #000;
				text-decoration: none;
			}
		}
	}
} // sidebar end


// ******************************** Cart
.cart-counter {
	padding: 0px 0 0 67px;
	font-size: 1.3em;
	line-height: 1.7em;
  margin: 0 0 66px;
	background: url('#{$image_path}icons/cart-big.png') 0 5px no-repeat;
	.cart-counter-active {

	}
	.cart-counter-complete {

	}
} // cart-counter end


// ************************************ Orders

.order {
	margin: 0 0 32px;
	.order-title {
		font-size: 1.8em;
    font-weight: normal;
    margin: 23px 0 38px;
	} // order-title
	.partner-logo {
		.partner-logo-image {
			width: 100%;
		} // partner-logo-image
	} // partner-logo
	.partner-name {
		font-size: 1.2em;
		font-weight: bold;
		margin: 28px 0px;
		.partner-link {

		} // partner-link
	} // partner-name
	.order-section-title {
		font-weight: bold;
    font-size: 1.4em;
    margin: 0 0 10px;
	}
	.order-item+.order-section-title {
		margin-top: 9px;
	}
	.order-item {
		.order-item-title {
			font-size: 1.1em;
	    letter-spacing: 0.015em;
	    margin: 7px 0 13px;
			.order-item-link {
				outline: none;
			}
		} // order-item-title
		.order-item-count {
			width: 100%;
	    padding: 5px 23px;
	    text-align: center;
	    outline: none;
	    border: 1px solid #474747;
	    font-size: 1.21em;
		} // cart-item-count
		.order-item-price {
			text-decoration: none;
	    margin: 8px 0 0 0;
	    font-size: 1.1em;
	    display: block;
	    font-weight: bold;
			.old-price {
				text-decoration: line-through;
			} // old-price
			.new-price {
				color: #dc3f31;
			} // new-price
		} // order-item-price
	} // order-item
	.order-action-btns {
		text-align: center;
		.order-cancel-btn {
			display: inline-block;
			margin: 30px 0 0;
		}
		.close-btn {
			margin: 9px 0 0;
	    display: inline-block;
	    width: 1.4em;
	    height: 1.4em;
	    background: url(#{$image_path}icons/close-btn.png) 0 0 no-repeat;
	    background-size: cover;
		} // close-btn
	} // order-action-btns
	.order-footer {
		.order-checkout-btn {
			float: right;
		}
		.order-payment-btn {
			display: inline-block;
			float: right;
			margin-right: 5%;
			font-size: 1.5em;
	    padding: 7px 15px 3px;
			background: #feda5a;
			color: #000;
			border-color: #feda5a;
			letter-spacing: -0.014em;
		}
		.order-reorder-btn {
			margin-right: 10px;
			font-weight: normal;
			border-color: #000;
		}
		.order-coast {
			font-size: 1.5em;
	    font-weight: bold;
	    margin: 9px 0px 0;
		}
		.order-text {
			font-size: 1.5em;
	    font-weight: bold;
	    margin: 6px 0px 0;
			display: inline-block;
			padding: 4px;
			float: right;
			margin-right: 30px;
		} // order-text
	} // order-footer

	.order-date {
	  margin-top: 22px;
	  text-align: left;
	  margin-left: 25%;
	  line-height: 1.3em;
	} // order-date

} // order

// ******************************* White-panel

.panel-white {
	background: #fff;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
	.panel-primary-title {
		text-align: center;
    font-weight: bold;
    font-size: 1.72em;
    margin: 15px 0 27px;
	}
	.panel-white-tabs-buttons {
		overflow: hidden;
		.tab-btn {
			float: left;
			padding: 12px;
			font-size: 1em;
			font-weight: bold;
			text-align: center;
			&.btn-1_2 {
				width: 50%;
			}
			&.btn-1_3 {
				width: 33.33333%;
			}

			&.active {
				background: #da3f31;
				a {
					color: #fff;
					text-decoration: none;
					cursor: default;
				}
			}
		} // btn-1_2
	} // panel-white-tabs-buttons
	.panel-white-body {
		padding: 15px;
	} // panel-white-body
	.panel-white-footer {
    padding: 4px 10px 10px;
		.btn {
			display: inline-block;
			float: right;
			font-size: 1.5em;
	    padding: 8px 34px 5px;
			border-width: 1px;
		}
		.btn-default {
			font-size: 1.5em;
	    font-weight: bold;
			margin-right: 20px;
			border-color: #000;
			padding-left: 40px;
			padding-right: 40px;
		}
	} // panel-white-footer
} // panel-white

// ******************************* Page-footer

.page-footer {
	padding: 58px 0 60px;
	background: #2d2d2d;
	color: #fff;

	.logo {
		margin-bottom: 26px;
	}
	.page-footer-text {
    line-height: 1.23em;
	}
	.page-footer-title {
		margin: 17px 0 23px;
	}

	.bottom-nav-bar {
		color: #dc3f31;
		.bottom-nav-item {
			font-style: italic;
			display: inline-block;
			padding: 13px 6px;
			color: #fff;
			letter-spacing: 0.066em;
			&:first-child {
				padding-left: 0;
			}
		} // bottom-nav-item
	} // top-nav-bar
	.additional-nav-bar {
		padding-top: 11px;
		color: #dc3f31;
		.additional-nav-item {
			display: inline-block;
			padding: 0 28px 14px 0;
			color: #fff;
	    font-size: 1.2em;
		} // bottom-nav-item
	} // top-nav-bar
	.page-footer-description {
		position: relative;
		&:before {
			position: absolute;
	    content: '';
	    left: -28px;
	    top: 16px;
	    bottom: 0px;
	    width: 3px;
	    background: #DC3F35;
		} // page-footer-description:before
	} // page-footer-description
}

// ******************************* Help classes
.btn {
	padding: 6px 17px;
	border-radius: 0;
	text-decoration: none;
	background-color: transparent;
	text-decoration: none;
}
.btn-default {
	border: solid 2px #dc3f31;
	background-color: transparent;
	color: #000;
	&:hover {
		border-color:  #dc9031;
	}
}
.btn-primary {
	border: solid 2px #dc3f31;
	background: #dc3f31;
	color: #fff;
	&:hover {
		background: #dc9031;
		border-color:  #dc9031;
	}
}
.m-0 {margin: 0 !important;}
.clearfix {
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
  	clear: both;
	}
}
hr {
	border-color: #db3f31;
	margin: 10px 0 20px;
}
.posabs {
	position: absolute;
}
.mb-24 {
	margin-bottom: 24px !important;
}

// ****************************** Banners

.banner-panel {
	padding: 100px 0 85px;
	color: #fff;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	.banner-panel-title {
		margin: 0 0 19px;
    font-size: 2.6em;
	}
	.banner-panel-text {
		font-size: 1.7em;
    font-weight: normal;
    margin: 0 0 29px;
	}
	.banner-panel-btn {
		color: #fff;
		border-color: #fff;
		font-size: 1.6em;
    padding: 7px 26px;

		&:hover {
			background: #fff;
			color: #010101;
		}
	}
} // banner-panel


// **************************** GRID
.row {
	margin: 0;
}
.container {
	width: 1270px;
	padding: 0;
}
.col {
  margin: 0 0 0 1.6%;
	position: relative;
}

.col:nth-child(4n+1) {
	margin-left: 0;
}

// ****************************** Typography

.info-box {
	margin-top: 57px;
	margin-bottom: 75px;
	.info-title {
		font-size: 1.72em;
    margin: 0 0 10px;
    color: #dc3f31;
	}
	.info-text {
		font-size: 1em;
    line-height: 1.23em;
	}
} // info-box
